@{
    ViewBag.Title = "contact";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>Contact Us</h2>
            <p>this is Contact Us page</p>


        </div>
    </div>
</div>
