@{
    ViewBag.Title = "home";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>home</h2>
            <p>this is home page</p>


        </div>
    </div>

    <div class="row">

        <div class="col-md-4 col1">
            <h1>Heading-1</h1>
            <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced</p>
        </div>

        <div class="col-md-4 col2">
            <h1>Heading-2</h1>
            <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced</p>
        </div>


        <div class="col-md-4 col3">
            <h1>Heading-3</h1>
            <p>In publishing and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content with placeholder text allows designers to design the form of the content before the content itself has been produced</p>
        </div>

    </div>



</div>
