@{
    ViewBag.Title = "Index";
}

<h2>Wedding invitation</h2>

<p>
    <img src="~/images/DWF12491-Framed-in-Luxury-Invitation.jpg" width="400px"/>
</p>

<p>
    <b>Bride Name :</b> Juanid Babu
</p>

<p>
    <b>Venue :</b> Darbar Lawn Near Sakhi Hassan
</p>

<p>
    <b>Timing:</b>9 pm to 12 am
</p>



<p><b>Welcome to Our site .Time is @System.DateTime.Now.ToShortDateString()</b></p>


@Html.ActionLink("Get Registered", "registrationpage","Home")