@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<div class="container">

    <div class="jumbotron">
        <div class="container">

            <h2>HR</h2>
            <p>this is HR page</p>

        </div>


    </div>

</div>