@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>Admin</h2>
            <p>this is admin home page</p>
        </div>
    </div>
</div>