@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>About Us</h2>
            <p>this is About Us page</p>


        </div>
    </div>
</div>
